{% extends 'generic/base_generic.html' %}
{% block title %} Customer: {{ customer.full_name }} | Admin {% endblock %}

{% block content %}

<div class="card">
  <h3>Customer profile</h3>
  <table class="table-customer-profile">
    <tr>
      <th>Username:</th>
      <td>{{ customer.username }}</td>
    </tr>
    <tr>
      <th>Full name:</th>
      <td>{{ customer.first_name }} {{ customer.last_name }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ customer.email }}</td>
    </tr>
  </table>
</div>

{% endblock %}
