@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-200;
  }

  h3 {
    @apply font-medium text-3xl tracking-wider mb-4;
  }

  h4 {
    @apply font-medium text-3xl tracking-wider mb-4 pb-2 border-b border-b-zinc-300 w-full text-center;
  }

  h6 {
    @apply font-medium text-xl tracking-wider mt-4 mb-2;
  }
}

@layer components {
  .card {
    @apply bg-white px-8 py-6 my-8 rounded-md shadow-md;
  }

  .btn-full {
    @apply block bg-indigo-900 px-4 py-1 rounded-sm text-white border border-indigo-900 text-sm cursor-pointer;
  }
  .btn-outline {
    @apply block bg-white px-4 py-1 rounded-sm border border-indigo-900 text-sm text-indigo-950 cursor-pointer;
  }

  .small-btn {
    @apply text-sm border border-zinc-500 bg-zinc-50 text-zinc-900 font-normal px-4 py-1 cursor-pointer rounded-sm shadow-sm hover:bg-zinc-100;
  }

  .slform {
    @apply flex flex-col items-start;
  }

  .slform span {
    @apply text-xs;
  }

  .slform label {
    @apply mb-1 text-lg w-full;
  }

  .slform input,
  .slform select,
  .slform textarea {
    @apply w-full bg-zinc-100 border border-zinc-300 rounded-sm text-lg py-1 px-2 mb-2;
  }

  .slform input[type="checkbox"] {
    @apply w-fit;
  }

  .slform input[type="submit"] {
    @apply bg-indigo-700 border-indigo-800 text-white cursor-pointer;
  }

  .table-customer-profile {
    @apply w-full;
  }

  .table-customer-profile tr th {
    @apply text-left w-[40%];
  }
  .table-customer-profile tr th,
  .table-customer-profile tr td {
    @apply py-2 px-4;
  }

  .table-customer-profile tr:nth-child(2n) {
    @apply bg-zinc-100;
  }

  .package-table tr th {
    @apply font-medium text-left text-sm;
  }

  .package-table th,
  .package-table td {
    @apply p-2;
  }

  .package-table tr:nth-child(2n) {
    @apply bg-zinc-100;
  }

  .test {
    @apply bg-zinc-800;
  }
}
