<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static  'css/style.css' %}" />

    <title>Document</title>
  </head>
  <body>
    {% block header %}

    <header class="bg-white w-full py-4 drop-shadow-sm">
      <div class="max-w-4xl w-[90%] mx-auto flex justify-between items-center">
        <div class="text-3xl font-extrabold">Insurance Company</div>

        <nav class="list-none pl-0 flex gap-8 font-normal">
          <li>Home</li>
          <li>Insurance</li>
          <li>Contact</li>
        </nav>
        {% if user.is_authenticated and user.is_staff is True %}
        <nav class="list-none pl-0 flex gap-4 font-normal items-center">
          <a
            href="/admins/dashboard/"
            class="border border-zinc-800 px-4 py-2 rounded-3xl text-sm hover:bg-zinc-100 active:bg-zinc-200"
            >Dashboard</a
          >
          <a href="/signout">Sign out</a>
        </nav>
        {% else %}
        <nav class="list-none pl-0 flex gap-4 font-normal items-center">
          {% if user.is_authenticated %}
          <div class="relative">
            <button
              id="user-btn-dropdown"
              class="bg-zinc-100 px-3 py-1 flex justify-between items-center text-sm cursor-pointer rounded-sm hover:bg-zinc-200"
            >
              {{ user.username }}
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <div
              id="user-dropdown"
              class="absolute hidden z-50 w-full top-8 divide-y divide-y-zinc-200 bg-white text-xs text-zinc-800 border border-zinc-300 rounded-sm"
            >
              <a href="/user/profile/" class="block py-2 px-1 hover:bg-zinc-100"
                >Profile</a
              >
              <a
                href="/insurance/userproposals/"
                class="block py-2 px-1 hover:bg-zinc-100"
                >Proposals</a
              >
              <a
                href="/insurance/apply/"
                class="block py-2 px-1 hover:bg-zinc-100"
                >Submit a proposal</a
              >
            </div>
          </div>
          <a href="/signout">Sign out</a>
          {% else %}
          <a class="btn-full" href="{% url 'signin' %}">Signin</a>
          <a class="btn-outline" href="{% url 'signup' %}">Signup</a>
          {% endif %}
        </nav>
        {% endif %}
      </div>
    </header>

    {% endblock %}

    <div class="max-w-4xl w-[90%] mx-auto">
      {% block content %} {% endblock %}
    </div>
    {% block footer %}

    <div>
      <h1>Footer</h1>
    </div>

    {% endblock %}
  </body>
  <script>
    document
      .getElementById("user-btn-dropdown")
      .addEventListener("click", function () {
        document.getElementById("user-dropdown").classList.remove("hidden");
        document.addEventListener("click", (event) => {
          if (
            !document.getElementById("user-btn-dropdown").contains(event.target)
          ) {
            document.getElementById("user-dropdown").classList.add("hidden");
          }
          return document
            .getElementById("user-btn-dropdown")
            .addEventListener("click", function () {});
        });
        return document
          .getElementById("user-btn-dropdown")
          .addEventListener("click", function () {});
      });
  </script>
</html>
