<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block header %}

    <div
      class="hidden fixed w-[100%] h-[100vh] top-0 left-0 bg-indigo-950 z-[999] text-4xl text-zinc-50 px-16 py-10 overflow-y-scroll"
      id="mobilemenu"
    >
      <button id="closemenu" class="border border-zinc-50 rounded-lg text-4xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          fill="white"
        >
          <path d="M14 7l-5 5 5 5V7z" />
          <path d="M24 0v24H0V0h24z" fill="none" />
        </svg>
      </button>

      <nav
        class="list-none pl-0 flex flex-col font-normal divide-y divide-zinc-200"
      >
        <li class="py-8"><a href="{% url 'home' %}">Home</a></li>
        <li class="py-8"><a href="{% url 'about' %}">About</a></li>
        <li class="py-8"><a href="{% url 'contact' %}">Contact</a></li>

        {% if user.is_authenticated and user.is_staff is True %}
        <li class="py-8">
          <a href="/admins/dashboard/">Dashboard</a>
        </li>
        <li class="py-8"><a href="/signout">Sign out</a></li>

        {% else %} {% if user.is_authenticated %}
        <li class="py-8">
          <a href="/user/profile/">Profile</a>
        </li>
        <li class="py-8">
          <a href="/insurance/userproposals/">Proposals</a>
        </li>
        <li class="py-8">
          <a href="/insurance/apply/">Submit a proposal</a>
        </li>

        <li class="py-8"><a href="/signout">Sign out</a></li>
        {% else %}
        <li class="py-8">
          <a href="{% url 'signin' %}">Signin</a>
        </li>
        <li class="py-8">
          <a href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %} {% endif %}
      </nav>
    </div>

    <header class="bg-white w-full py-4 drop-shadow-sm">
      <div class="max-w-4xl w-[90%] mx-auto flex justify-between items-center">
        <a
          class="block text-indigo-700 text-xl font-bold"
          href="{% url 'home' %}"
        >
          IntelliGuard
          <span class="text-zinc-700 font-normal">Insurance</span>
        </a>

        <nav class="hidden list-none pl-0 sm:flex gap-8 font-normal">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </nav>
        {% if user.is_authenticated and user.is_staff is True %}
        <nav
          class="hidden sm:flex list-none pl-0 gap-4 font-normal items-center"
        >
          <a
            href="/admins/dashboard/"
            class="border border-zinc-800 px-4 py-2 rounded-3xl text-sm hover:bg-zinc-100 active:bg-zinc-200"
            >Dashboard</a
          >
          <a href="/signout">Sign out</a>
        </nav>
        {% else %}
        <nav
          class="list-none pl-0 hidden sm:flex gap-4 font-normal items-center"
        >
          {% if user.is_authenticated %}
          <div class="relative">
            <button
              id="user-btn-dropdown"
              class="bg-zinc-100 px-3 py-1 flex justify-between items-center text-sm cursor-pointer rounded-sm hover:bg-zinc-200"
            >
              {{ user.username }}
              <svg
                class="w-2.5 h-2.5 ms-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <div
              id="user-dropdown"
              class="absolute hidden z-50 w-full top-8 divide-y divide-y-zinc-200 bg-white text-xs text-zinc-800 border border-zinc-300 rounded-sm"
            >
              <a href="/user/profile/" class="block py-2 px-1 hover:bg-zinc-100"
                >Profile</a
              >
              <a
                href="/insurance/userproposals/"
                class="block py-2 px-1 hover:bg-zinc-100"
                >Proposals</a
              >
              <a
                href="/insurance/apply/"
                class="block py-2 px-1 hover:bg-zinc-100"
                >Submit a proposal</a
              >
            </div>
          </div>
          <a href="/signout">Sign out</a>
          {% else %}
          <a class="btn-full" href="{% url 'signin' %}">Signin</a>
          <a class="btn-outline" href="{% url 'signup' %}">Signup</a>
          {% endif %}
        </nav>
        {% endif %}

        <button class="cursor-pointer block sm:hidden" id="menubutton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            id="menubutton"
          >
            <path
              fill="currentColor"
              d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"
            />
          </svg>
        </button>
      </div>
    </header>

    {% endblock %}

    <div class="max-w-4xl w-[90%] mx-auto bg-white">
      {% block content %} {% endblock %}
    </div>
    {% block footer %}

    <footer class="bg-zinc-950">
      <div
        class="max-w-4xl w-[90%] mx-auto flex flex-col sm:flex-row justify-between text-zinc-50 py-16"
      >
        <div class="flex items-center justify-center sm:items-start sm:justify-start text-3xl font-bold text-indigo-400  mb-8">
          IntelliGuard
          <span class="text-zinc-200 font-normal">Insurance</span>
        </div>
        <div class=" mb-4">
          <ul class="p-0 flex flex-row gap-8 sm:gap-1 sm:items-baseline items-center justify-center sm:flex-col">
            <li>
              <a class="hover:underline" href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a class="hover:underline" href="{% url 'contact' %}">Contact</a>
            </li>
            <li>
              <a class="hover:underline" href="{% url 'about' %}">About</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="p-0 flex flex-row gap-8 sm:gap-1 sm:items-baseline items-center justify-center sm:flex-col">
            <li>
              <a class="hover:underline" href="{% url 'signin' %}">Login</a>
            </li>
            <li>
              <a class="hover:underline" href="{% url 'signup' %}">Signup</a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="w-full bg-indigo-950 text-white flex items-center justify-center gap-4 text-sm py-2 flex-wrap"
      >
        <a href="">+977-014810888, insuranceco@gmail.com</a>

        <a href="" class="hover:underline">Facebook</a>
        <a href="" class="hover:underline">Twitter</a>
        <a href="" class="hover:underline">Instagram</a>
        <a href="" class="hover:underline">Thread</a>
      </div>
      <div
        class="w-full bg-black text-center text-zinc-100 py-4 tracking-wider"
      >
        Insurance Company&copy; 2024 | All rights reserved
      </div>
    </footer>

    {% endblock %}
  </body>
  <script>
    document
      .getElementById("menubutton")
      .addEventListener("click", function () {
        document.getElementById("mobilemenu").classList.remove("hidden");
      });

    document.getElementById("closemenu").addEventListener("click", function () {
      document.getElementById("mobilemenu").classList.add("hidden");
    });

    document
      .getElementById("user-btn-dropdown")
      .addEventListener("click", function () {
        document.getElementById("user-dropdown").classList.remove("hidden");
        document.addEventListener("click", (event) => {
          if (
            !document.getElementById("user-btn-dropdown").contains(event.target)
          ) {
            document.getElementById("user-dropdown").classList.add("hidden");
          }
          return document
            .getElementById("user-btn-dropdown")
            .addEventListener("click", function () {});
        });
        return document
          .getElementById("user-btn-dropdown")
          .addEventListener("click", function () {});
      });
  </script>
</html>
