{% extends 'generic/base_generic.html' %}

{% block title %} Admin Signup | IntelliGuard Insurance {% endblock %}

{% block content %}

<div class="card">
  <h3>Admin Signup</h3>
  {% if messages %}
  <div class="text-sm bg-red-50 border border-red-400 p-2 mb-2">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %}

  <form method="POST" class="slform">
    {% csrf_token %}

    <label>Username</label>
    <input type="username" name="username" value="{{ username }}" />
    <label>Email</label>
    <input type="email" name="email" value="{{ email }}" />

    <label>Password</label>
    <input type="password" name="pwd" value="{{ pwd }}" />
    <label>Confirm Password</label>
    <input type="password" name="pwd2" value="{{ pwd2 }}" />

    <input type="submit" name="submit" value="Signup" />
  </form>
</div>

{% endblock %}
